<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="service.css">
</head>
<body>
    <section class="navbar" style="color: black;">
        <a href="/">Acceuil</a>
        <a href="/service">service</a>
        <a href="Contact">Contact</a>
    </section>
    <section class="num1">
        <div class="tex">
            <h1>Établissez des liens durables avec vos clients à l'aide de solutions à faible code.</h1>
            <p>Des études montrent qu'il est cinq fois plus cher d'attirer un nouveau client que d'en fidéliser un déjà existant. Grâce à la plateforme de service client de Creator, vous pouvez créer des logiciels de service et d'assistance permettant à vos équipes en contact direct avec les clients de gérer de nouvelles tâches, d'automatiser les tickets, d'intégrer les applications pertinentes et d'offrir une expérience client transparente à chaque fois.</p>
            <button class="btn">inscivez vous gratuitement</button>
        </div>
        <div>
            <img src="https://www.zohowebstatic.com/sites/zweb/images/creator/functions/customer-service-teams-banner-image.webp" id="mage" alt="">
        </div>
    </section>
    <br>
    <div class="foot">
        <div>
            <img id="mage2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs73ka2slwj9l5kw7vRVEcWjkolNXJ7K9BVhOXWz_ZR-mSrhM3EfIMceT8lF8hVmYoGJ8&usqp=CAU" alt="">
        </div>
        <div>
            <p style="text-align: center; font-size: 50px; font-family: Arial, Helvetica, sans-serif; margin-top: 80px; color: blue;"><i>Pour plus information contacter nous au <a href="/Contact"> +221 XX XXX XX XX</a> </i></p>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>